* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(150deg, rgb(121 171 149), rgb(39 57 76));

}
.password-generator h1{
    font-size: 35px;
    color: white;
    text-align: center;
    margin-left: 20px;
}

#password-form{
    background-color: #62d0ab;
    width: 130%;
    max-width: 500px;
    /* height: 120%; */
    padding: 92px;
    border: 3px solid black;
    border-radius: 10px;
}
#password{
    width: 250px;
    padding: 21px;
}
#password h3{
    font-size: 22px;
    margin-bottom: 20px;
    border-bottom: 3px solid black;
    padding-bottom: 5px;
}
#password input{
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 5px;
}

.password-generator button{
    margin-left: 52px;
    margin-top: 2rem;
    width: 37%;
    padding: 4px;
    font-size: 15px;
    background: #7edfee;
    border-radius: 5px;
}
.password-generator button:hover{
    background-color: beige;
    cursor: pointer;
}


